In [22]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords
import pandas as pd

In [2]:
corpus = [
     'This is the first document.',
     'This document is the second document.',
     'And this is the third one.',
     'Is this the first document?']

In [14]:
'''max_features = 10
ngram_range  = (1,3)
max_df       = 1.0  #0.8
min_df       = 1    #0.01
stop_words   = list(stopwords.words('english'))
lowercase    = True'''

In [25]:
# Check the impact of max_features and ngram_range
def get_tf(corpus, max_features, ngram_range):
  max_df       = 1.0  #0.8
  min_df       = 1    #0.01
  stop_words   = list(stopwords.words('english'))
  lowercase    = True
  vectorizer = CountVectorizer(max_features = max_features, 
                               ngram_range  = ngram_range,
                               stop_words   = stop_words,
                               max_df       = max_df,
                               min_df       = min_df,
                               lowercase    = lowercase)
  X     = vectorizer.fit_transform(corpus)
  feats = vectorizer.get_feature_names_out()
  X_df  = pd.DataFrame(X.toarray(), columns=feats)

  return X_df

In [26]:
get_tf(corpus, 5, (1,1))

   document  first  one  second  third
0         1      1    0       0      0
1         2      0    0       1      0
2         0      0    1       0      1
3         1      1    0       0      0

In [27]:
get_tf(corpus, 5, (1,2))

   document  document second  first  first document  one
0         1                0      1               1    0
1         2                1      0               0    0
2         0                0      0               0    1
3         1                0      1               1    0

In [28]:
# Compare this result with above, term with higher frequency is returned when
# reducing the max_features to 3 from 5.
get_tf(corpus, 3, (1,2))

   document  first  first document
0         1      1               1
1         2      0               0
2         0      0               0
3         1      1               1